* {
    margin:0%;
    padding:0%;
}

.intestazione{
    display:flex;
    flex-direction: row;
    height: 100px;
}

.logo{
    background-image:url(img/logo\ copia.png);
    background-repeat: no repeat;
    background-size: cover;
    height: 90px;
    width: 90px;
    margin-left: 30px;
    margin-top:5px;
}

.titolo{
    height: 100px;
    width: 400px;
    margin-left:20px;
}


.titolo h1{
    font-family: "roboto", sans-serif;
    font-size: 50px;
    color:black;
}
